/* Overrides to apply custom hex palette when Material's palette file doesn't map hex values */

/* Light scheme */
[data-md-color-scheme="default"][data-md-color-primary="#447193"]{
  --md-primary-fg-color: #447193;
  --md-primary-fg-color--light: #5a86a6;
  --md-primary-fg-color--dark: #2f5f78;
  --md-primary-bg-color: #fff;
}
[data-md-color-scheme="default"][data-md-color-accent="#AB134B"]{
  --md-accent-fg-color: #AB134B;
  --md-accent-fg-color--transparent: #AB134B1a;
  --md-accent-bg-color: #fff;
}

/* Dark (slate) scheme */
[data-md-color-scheme="slate"][data-md-color-primary="#28445E"]{
  --md-primary-fg-color: #28445E;
  --md-primary-fg-color--light: #3f5f77;
  --md-primary-fg-color--dark: #1b2f3b;
  --md-primary-bg-color: #fff;
}
[data-md-color-scheme="slate"][data-md-color-accent="#AB134B"]{
  --md-accent-fg-color: #AB134B;
  --md-accent-fg-color--transparent: #AB134B1a;
  --md-accent-bg-color: #fff;
}

/* Tweak header/nav active background to use primary */
.md-nav__link--active,
.md-header{ background-color: var(--md-primary-fg-color); }
.md-header .md-logo img{ filter: brightness(0) invert(1); }
